/*color and fonts*/
body{
  background-color : #F8FEFF;
  font-size: 11px; 
  color: rgba(60, 60, 60, 1.0);
  font-family: 'Lora', serif;
  letter-spacing: 2px;
  line-height: 1.8;}


h1, h2 { 
  font-family: 'Roboto', serif;}


h1{ 
  font-size: 22px;
  color: rgba(32, 133, 149, 1);
  letter-spacing: 1px;
  font-weight: 900;}

h2{ 
  font-size: 18px;
  color: rgba(32, 133, 149, 0.8);
  letter-spacing: 5px;
  font font-weight: 700;}

a{ 
  font-family: 'Roboto', serif;
  font-weight: 600; 
  font-size : 16px;
  text-decoration: none;
  color: red;}

a:hover{
  color: orange;}



/*custom design with class*/

.container{ 
  width: 700px; 
  margin: 40px auto;}

@media (max-width: 760px){
  .container{
    width: 600px;}}

@media (max-width: 500px){
  .container{
    width: 400px;}}



.card-blue{
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 10px;
  text-align: center;}

.img-circle{
  border-radius: 50%;}

.btn-blue{ 
  background-color: #B0DBE1;
  color: white;
  padding: 15px 20px;}

.btn-blue:hover{
  background-color: black;
  color: white;}

.list-inline{ 
  list-style: none;
  padding-left: 0px;}



/*specific adjustments*/

.list-inline li{
  display: inline;
  padding: 10px;}

.list-inline i{
  font-size: 50px;
  color: rgba(176, 219, 225, 0.8);}

.list-inline i:hover {
  font-size: 50px;
  color: black;}

#introduction p {
margin-bottom: 40px;}


